<div *ngIf="loading">
  <mat-progress-bar
    color="primary"
    mode="indeterminate">
  </mat-progress-bar>
</div>

<div [class]="loading?'content2':'content'">
  <mat-toolbar>
    <button (click)="openDialog()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>tune</mat-icon>
    </button>
    <mat-form-field appearance="fill" class="m-t-20 w-200 m-l-15">
      <mat-label>Favorite food</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of dataSelect" [value]="item.value">
          {{item.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="m-t-20 w-200 m-l-15">
      <mat-label>Favorite food</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of dataSelect" [value]="item.value">
          {{item.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="example-spacer"></span>
    <mat-form-field class="example-full-width m-t-20 w-200">
      <input type="text" [value]="gridModel.searchText" matInput placeholder="search" (change)="search($event)">
    </mat-form-field>
    <button (click)="openAdd()" mat-raised-button color="primary" class="example-icon m-l-15" aria-label="Example icon-button with share icon">
      <mat-icon>add</mat-icon>
      Thêm
    </button>
  </mat-toolbar>
  
    <app-table 
      [data]="data" 
      [dataTable]="dataTable" 
      [displayedColumns]="displayedColumns"
      [pageEvent]="pageEvent"
      (paginator)="handlePaginator($event)"
      (action)="handleActions($event)"
    ></app-table>
</div>