<mat-toolbar class="header" color="primary">
  <div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span (click)="home()">Doanh Nghiệp Số</span>
  </div>
  <div>
    <img *ngIf="user?.avatar" class="avatar" mat-card-avatar [src]="user?.avatar?'https://localhost:5001/'+user?.avatar:
          'https://th.bing.com/th/id/R.136cc50d89f917ee8b820b39bbaa98d4?rik=LHOLLs3DfCbR9Q&pid=ImgRaw&r=0'">
      <span *ngIf="user?.lastName" class="name">{{user?.lastName + ' ' + user?.firstName}}</span>
  </div>
</mat-toolbar>

<mat-drawer-container class="admin-container" autosize>
  <mat-drawer #drawer class="admin-left" mode="side" opened>
    <mat-card [ngClass]="card=='user'?'check':''" (click)="Navigate('user')">
      <mat-card-content>
        <mat-icon>account_circle</mat-icon>
        <mat-label>Quản lý nhân viên</mat-label>
      </mat-card-content>
    </mat-card>
    <mat-card [ngClass]="card=='dayoff'?'check':''" (click)="Navigate('dayoff')">
      <mat-card-content>
        <mat-icon>free_cancellation</mat-icon>
        <mat-label>Quản lý ngày nghỉ</mat-label>
      </mat-card-content>
    </mat-card>
    <mat-card [ngClass]="card=='salary'?'check':''" (click)="Navigate('salary')">
      <mat-card-content>
        <mat-icon>currency_exchange</mat-icon>
        <mat-label>Quản lý phiếu lương</mat-label>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <mat-icon>redeem</mat-icon>
        <mat-label>Quản lý tiền thưởng <span>(comming soon)</span></mat-label>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <mat-icon>request_quote</mat-icon>
        <mat-label>Quản lý tiền ứng lương <span>(comming soon)</span></mat-label>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <mat-icon>task_alt</mat-icon>
        <mat-label>Quản lý công việc <span>(comming soon)</span></mat-label>
      </mat-card-content>
    </mat-card>
    <mat-card (click)="Navigate('login')">
      <mat-card-content>
        <mat-icon>logout</mat-icon>
        <mat-label>Đăng xuất</mat-label>
      </mat-card-content>
    </mat-card>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>