.example-spacer {
  flex: 1 1 auto;
}

/* mat-drawer-content {
  height: calc(100vh - 80px);
} */

.admin-left {
  width: 20%;
}

mat-card {
  margin-top: 20px;
}

mat-card-content mat-icon {
  margin-left: 20px;
  padding-right: 20px;
  position: relative;
  top: 5px;
}

.check {
  background-color: rgb(191, 220, 245);
  height: auto;
}