<h1 mat-dialog-title>dialog title</h1>
<div mat-dialog-content>
    <div>
        <mat-accordion>
          <div *ngFor="let item of data">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{item.title}}
                </mat-panel-title>
                <mat-panel-description *ngIf="item.field != 'OrderBy'">
                  {{item.description + ' ' + item.textOperator + ' ' + item.textOfValue}}
                </mat-panel-description>
                <mat-panel-description *ngIf="item.field == 'OrderBy'">
                  {{item.description + ' ' + item.textOfValue + ' từ ' + item.textOperator}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-form-field appearance="fill" class="m-t-20 w-200 m-l-15">
                <mat-label>Chọn option của {{item.title}}</mat-label>
                <mat-select [value]="item.operator" (selectionChange)="chooseOperator($event, item.field)">
                  <mat-option [value]="''">none</mat-option>
                  <mat-option *ngFor="let i of item.listOperator" [value]="i.value">
                    {{i.text}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" class="m-t-20 w-200 m-l-15">
                <mat-label>Chọn giá trị của {{item.title}}</mat-label>
                <mat-select [value]="item.value" (selectionChange)="chooseSelect($event, item.field)">
                  <mat-option [value]="''">none</mat-option>
                  <mat-option *ngFor="let i of item.listSelect" [value]="i.id">
                    {{i.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-expansion-panel>
          </div>
          </mat-accordion>
          
    </div>
</div>
<div mat-dialog-actions class="footer">
  <button mat-button (click)="success()" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  <button mat-button (click)="onNoClick()">cancel</button>
</div>
