.content {
    height: calc(100vh - 74px);
    padding: 10px 15px 0px 15px;
}

.content2 {
    height: calc(100vh - 78px);
    padding: 10px 15px 0px 15px;
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.label-info {
    margin-left: 20px;
}

.icon-info {
    font-size: 16px;
    height: 16px;
    width: 16px;
    position: relative;
    top: 2px;
}

.text-info {
    margin-left: 5px !important;
}