<h1 mat-dialog-title>Thêm mới</h1>
<div mat-dialog-content>
    <form [formGroup]="myForm">
        <div *ngFor="let item of data">
            <p>{{item.title}}</p>
            <mat-form-field class="w-100pt"  *ngIf="item.type === 'number' || item.type === 'text' || item.type === 'password'" appearance="fill">
                <mat-label>{{item.subTitle}}</mat-label>
                <input [(ngModel)]="item.value" [type]="item.type" matInput [formControlName]="item.field">
            </mat-form-field>
            <mat-form-field class="w-100pt"  *ngIf="item.type === 'select'" appearance="fill">
              <p *ngIf="item.value">Giá trị hiện tại: {{item.value}}</p>
                <mat-label>select item</mat-label>
                <mat-select [formControlName]="item.field">
                  <mat-option *ngFor="let i of item.listSelect" [value]="i.id">
                    {{i.name}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <mat-form-field appearance="fill" *ngIf="check">
              <mat-label>Select an option</mat-label>
              <mat-select [(value)]="selected">
                <mat-option>None</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field> -->
            <div *ngIf="item.type === 'radio'">
                <mat-radio-group [formControlName]="item.field">
                    <mat-radio-button 
                        *ngFor="let radio of item.listRadio" 
                        class="example-margin" 
                        [value]="radio.id"
                    >
                        {{radio.name}}
                    </mat-radio-button>
                  </mat-radio-group>
            </div>
            <div *ngIf="item.type === 'dateTime'">
                <mat-form-field class="w-100pt">
                    <mat-label>Start DateTime</mat-label>
                    <mat-datetimepicker-toggle
                      [for]="datetimePicker"
                      matSuffix
                    ></mat-datetimepicker-toggle>
                    <mat-datetimepicker
                      #datetimePicker
                      type="datetime"
                    >
                    </mat-datetimepicker>
                    <input
                      matInput
                      [formControlName]="item.field"
                      [matDatetimepicker]="datetimePicker"
                      autocomplete="false"
                      [value]="item.value"
                    />
                  </mat-form-field>
            </div>
            <div  *ngIf="item.type === 'date'">
                <mat-form-field appearance="fill" class="w-100pt">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [value]="item.value" [formControlName]="item.field" [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
            <div *ngIf="item.type === 'upload'" class="image-container">
                <button color="primary" type="button" (click)="fileInput.click()" mat-fab>
                  <mat-icon>image</mat-icon>
                </button>
                <input
                [formControlName]="item.field"
                  hidden
                  accept="image/png, image/jpeg"
                  (change)="onFileSelected($event)"
                  #fileInput
                  type="file"
                  id="file"
                  class="image-input"
                />
                <img
                  *ngIf="imageProduct && !item.value"
                  class="preview"
                  [src]="imageProduct?imageProduct:
                  'https://th.bing.com/th/id/R.136cc50d89f917ee8b820b39bbaa98d4?rik=LHOLLs3DfCbR9Q&pid=ImgRaw&r=0'"
                  style="height: 75px"
                />
                <img
                  *ngIf="item.value"
                  class="preview"
                  [src]="item.value?'https://localhost:5001/'+item.value:
                  'https://th.bing.com/th/id/R.136cc50d89f917ee8b820b39bbaa98d4?rik=LHOLLs3DfCbR9Q&pid=ImgRaw&r=0'"
                  style="height: 75px"
                />
            </div>
            <div *ngIf="item.type === 'toggle'">
              <mat-slide-toggle [checked]="true" [formControlName]="item.field">{{item.subTitle}}</mat-slide-toggle>
              
            </div>
        </div>
        
        <div mat-dialog-actions class="footer">
          <button mat-button type="submit" (click)="submit()">Ok</button>
          <button mat-button (click)="onNoClick()">cancel</button>
        </div>
    </form>
</div>
