<h1 mat-dialog-title>dialog title</h1>
<div mat-dialog-content>
    <div *ngFor="let item of data">
        <p>{{item.title}}</p>
        <mat-form-field class="w-100pt"  *ngIf="item.type === 'number' || item.type === 'text'" appearance="fill">
            <mat-label>number and text title</mat-label>
            <input [type]="item.type" matInput [(ngModel)]="item.value">
        </mat-form-field>
        <mat-form-field class="w-100pt"  *ngIf="item.type === 'select'" appearance="fill">
            <mat-label>select item</mat-label>
            <mat-select>
                <mat-option *ngFor="let i of item.listSelect" [value]="item.value">
                  {{i.text}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="item.type === 'radio'">
            <mat-radio-group [(ngModel)]="item.value">
                <mat-radio-button 
                    *ngFor="let radio of item.listRadio" 
                    class="example-margin" 
                    [value]="radio.value"
                >
                    {{radio.text}}
                </mat-radio-button>
              </mat-radio-group>
        </div>
        <div *ngIf="item.type === 'dateTime'">
            <mat-form-field class="w-100pt">
                <mat-label>Start DateTime</mat-label>
                <mat-datetimepicker-toggle
                  [for]="datetimePicker"
                  matSuffix
                ></mat-datetimepicker-toggle>
                <mat-datetimepicker
                  #datetimePicker
                  type="datetime"
                >
                </mat-datetimepicker>
                <input
                  matInput
                  [matDatetimepicker]="datetimePicker"
                  autocomplete="false"
                  [value]="item.value"
                />
              </mat-form-field>
        </div>
        <div  *ngIf="item.type === 'date'">
            <mat-form-field appearance="fill" class="w-100pt">
                <mat-label>Choose a date</mat-label>
                <input matInput [value]="item.value" [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
        <form *ngIf="item.type === 'upload'" [formGroup]="myForm">
            <div class="image-container">
                <button color="primary" type="button" (click)="fileInput.click()" mat-fab>
                  <mat-icon>image</mat-icon>
                </button>
                <input
                  formControlName="fileControl"
                  hidden
                  accept="image/png, image/jpeg"
                  (change)="onFileSelected($event)"
                  #fileInput
                  type="file"
                  id="file"
                  class="image-input"
                />
                <img
                  *ngIf="imageProduct"
                  class="preview"
                  [src]="imageProduct"
                  style="height: 75px"
                />
            </div>
        </form>
    </div>
</div>
<div mat-dialog-actions class="footer">
  <button mat-button (click)="submit()" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  <button mat-button (click)="onNoClick()">cancel</button>
</div>
